.navCustom{
    background-color: black;
}
.navButton {
    background-color: white;
}
.carouselHeader {
    color:aqua;
}
.presentationSection{
    gap: 1.2rem;
}
.presentationCard{
    height: 100%;
    margin: 3%;
    border-radius: 0.7rem;
}
.advantages{
    display: flex;
    justify-content: space-between;
}
.catalogSection{
    text-align: center;
    gap: 1.2rem;
}