body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d3d3d3;
    font-size: 1.3rem;
}
 h1, h2, h5 {
    font-family: 'Kalam', cursive;
    margin: 0rem;
    font-weight: bold;
}
.navCustom{
    background-color: #504949;
    align-items: center;
    justify-content: center;
}
.logo{
    color: yellow;
    margin-top: 0.5rem;
}
.navButton {
    background-color: white;
}
.menuLink {
    color: yellow;
}
.carouselHeader {
    color:aqua;
}
.presentationSection{
    gap: 1.2rem;
}
.presentationCard{
    height: 100%;
    margin: 3%;
    border-radius: 0.7rem;
}
.presentationCard h5 {
    color: #504949;
    font-size: 2rem;
}
.presentationCard p {
    padding: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #504949;
    margin-bottom: 0rem;
}
.buttonCuston {
    width: 70%;
    height: 2.5rem;
    background-color: #504949;
    border: none;
    font-size: 1.2rem;
    color: white;
    margin-top: 1.5rem;    
}
.advantagesCard {
    background-color: #d3d3d3;
}
.advantages {
    display: flex;
    justify-content: space-between;
    color:yellow;
    padding: 0rem ;
}
.advantages li p {
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: 600;
}
.catalogSection {
    text-align: center;
    gap: 1.2rem;
}
.catalogSection h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: #504949;
    font-size: 3rem;
}
.catalogSection h5 {
    font-size: 2rem;
    color:#504949;
}
.footer {
    color:#504949;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.contactsNumbers {
    text-align: left;
}
.socialMidia {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    font-size: 4rem;
}